@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;600;700&family=Lato:wght@300;400;700;900&family=Raleway&display=swap");

.container {
  background-color: white;
  height: 25rem;
  border-radius: 10px;
  z-index: 0 !important;
  margin-top: -1rem;
  position: relative;
}

.upper-container {
  background-color: rgb(0, 255, 81);
  height: 5rem;
  margin: 0 25vw 0rem 25vw;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  z-index: 10 !important;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.home {
  height: 60vh;
  padding-top: 1rem;
  background-color: darkblue;
}

.find-flight {
  border: 1px solid rgb(202, 202, 202);
  display: flex;
  border-radius: 15px;
  margin-top: 10px;
}

.flight {
  margin: 15px;
  color: rgb(36, 36, 36);
  width: 300px;
  border-right: 1px solid rgb(139, 139, 139);
  position: relative;
}

.flight h1 {
  margin: 3px;
}

em {
  font-size: large;
  font-weight: 300;
}

.last-div {
  border-right: 0;
}

.booking-btns {
  padding: 0;
  margin: 0;
  padding-left: 0.4rem;
  outline: none;
  border: none;
  background-color: transparent;
  color: #111;
}

.airport-name {
  font-family: Raleway;
  font-weight: 300;
}

.city {
  font-family: Lato;
}

.dropdown-airport {
  position: absolute;
  /* display: none; */
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  top: 30px;
  left: 0;
}

li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px 10px;
  width: 100%;
  border-bottom: 1px dotted black;
  border-radius: 5px;
}

li:hover {
  background-color: #eee;
  cursor: pointer;
}

.airports-list {
  width: 300px;
  height: 400px;
  /* text-align: center; */
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}

p {
  padding: 0 !important;
  margin: 0 !important;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.airport {
  font-size: small;
  font-family: Lato;
  color: #888;
}

.code {
  margin-left: 10px !important;
  font-weight: 700;
  color: #888;
  padding-right: 5px !important;
}

.airport-city {
  font-size: 1.1rem;
  font-family: Lato;
  color: #000000;
}
