@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;600;700&family=Lato:wght@300;400;700;900&family=Raleway&display=swap");


@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');


.container {
  background-color: white;
  height: 25rem;
  border-radius: 10px;
  z-index: 0 !important;
  margin-top: -1rem;
  position: relative;
}

.info{
    padding-top: 2rem;
}

.upper-container {
  background-color: rgb(215, 255, 228);
  height: 5rem;
  margin: 0 25vw 0rem 25vw;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  z-index: 10 !important;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.home {
  height: 60vh;
  padding-top: 1rem;
  background-color: darkblue;
  background: rgb(243, 242, 255);
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgba(0, 0, 139, 1) 100%
  );
}

.find-flight {
  border: 1px solid rgb(202, 202, 202);
  display: flex;
  border-radius: 15px;
  margin-top: 10px;
}

.flight {
  margin: 15px;
  color: rgb(36, 36, 36);
  width: 300px;
  border-right: 1px solid rgb(139, 139, 139);
  position: relative;
}

.flight h1 {
  margin: 3px;
}

em {
  font-size: large;
  font-weight: 300;
}

.last-div {
  border-right: 0;
}

.booking-btns {
  padding: 0;
  margin: 0;
  padding-left: 0.4rem;
  outline: none;
  border: none;
  background-color: transparent;
  color: #111;
}

.airport-name {
  font-family: Raleway;
  font-weight: 300;
}

.day{
    font-family: Raleway;
    font-weight: 300;
}

.city {
  font-family: Lato;
}

.dropdown-airport {
  position: absolute;
  /* display: none; */
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  top: 30px;
  left: 0;
}

li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px 10px;
  width: 100%;
  border-bottom: 1px dotted black;
  border-radius: 5px;
}

li:hover {
  background-color: #eee;
  cursor: pointer;
}

.airports-list {
  width: 300px;
  height: 400px;
  /* text-align: center; */
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}

p {
  padding: 0 !important;
  margin: 0 !important;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

span {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.airport {
  font-size: small;
  font-family: Lato;
  color: #888;
}

.code {
  margin-left: 10px !important;
  font-weight: 700;
  color: #888;
  padding-right: 5px !important;
}

.airport-city {
  font-size: 1.1rem;
  font-family: Lato;
  color: #000000;
}

.ri-flight-takeoff-line {
  font-size: 2rem;
  color: #000000;
}

.ri-flight-land-line {
  font-size: 2rem;
  color: #000000;
}

.react-calendar {
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar__navigation button {
  color: #6f48eb;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
abbr[title] {
  text-decoration: none;
}


.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 6px;
}
.react-calendar__tile--now {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
.react-calendar__tile--active {
  background: #6f48eb;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #6f48eb;
  color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}
.react-calendar__tile--range {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 0;
}
.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #6f48eb;
  color: white;
}
.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #6f48eb;
  color: white;
}

.calender{
    position: absolute;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-btn{
    background-color: #4848eb;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px 40px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    font-size: larger;
    font-family: 'Poppins', sans-serif;
    opacity: 90%;
    letter-spacing: .3rem;
    margin-top: 8rem !important;
}